<div class="container">
  <div class="all-title">
    <h1>Calendar</h2>
  </div>
</div>
<div class="container">
  <%= month_calendar events: @targets do |date, targets| %>
    <%= date.day %>
    <% targets.each do |target| %>
    <div>
      <%= link_to target.title,target_path(target),class: "fas fa-anchor"  %>
    </div>
      <% end %>
  <% end %>
</div>