<div class="window">
  <div class="box header-show">
    <div class="img-show"><%= attachment_image_tag @user, :profile_image, format: 'jpeg' , size: "200x150" %></div>
    <h2><%= @user.name %></h2>
    <h4><%= @user.body %></h4>
    <% if @user == current_user %>
      <%= link_to "Profile Edit",edit_user_path(@user),class: "btn show-edit" %>
    <% end %>
  </div>
</div>
