/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

body {
background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.user-name {
    text-align: right;
	padding: 30px;
	padding-right: 100px
}




@import "bootstrap";

@import "targets/index";
@import "targets/show";
@import "patience/show";
@import "top/index";
@import "top/top";
@import "users/show";
@import "login/form";

@import "header";

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');



